{% load static %}
<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Reading</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="{% static 'br/assets/images/icon/favicon.ico' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'br/assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'br/assets/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'br/assets/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'br/assets/css/metisMenu.css' %}">
    <link rel="stylesheet" href="{% static 'br/assets/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'br/assets/css/slicknav.min.css' %}">
    <!-- amchart css -->
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
    <!-- others css -->
    <link rel="stylesheet" href="{% static 'br/assets/css/typography.css' %}">
    <link rel="stylesheet" href="{% static 'br/assets/css/default-css.css' %}">
    <link rel="stylesheet" href="{% static 'br/assets/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'br/assets/css/responsive.css' %}">
    <!-- modernizr css -->
    <script src="{% static 'br/assets/js/vendor/modernizr-2.8.3.min.js' %}"></script>
</head>

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- preloader area start -->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- preloader area end -->
        <!-- main content area start -->
        <div class="main-content">
            <!-- page title area start -->
            <div class="page-title-area">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <div class="breadcrumbs-area clearfix">
                            <h4 class="page-title pull-left">Reading</h4>
                            <ul class="breadcrumbs pull-left">
                                <li><a href="{% url 'index' %}">Home</a></li>
                                <li><span>Reading</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 clearfix">
                        <div class="user-profile pull-right">
                            <i class="ti ti-user user-thumb text-white pr-1"></i>
                            <h4 class="user-name dropdown-toggle" data-toggle="dropdown">{{ user.username }}<i class="fa fa-angle-down"></i></h4>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{% url 'settings' %}">Profile</a>
                                <a class="dropdown-item" href="#">Log Out</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- page title area end -->
            <br><br>
            <div class="main-content-inner m-5">
                <div class="row">
                    <div class="col-12">
                        <div class="grid-col"><h1>Settings</h1>
                        <br>
                        <p><b>Username:</b> {{ user.username }}</p>
                        <br>
                        <strong>Your Comments:</strong>
                        {% for comment in comments %}
                            <p><strong>{{ comment.title }}</strong> - {{ comment.verse }}  ----  {{ comment.text }}</p>
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- main content area end -->
        <!-- footer area start-->
        <footer>
            <div class="footer-area">
                <p>Developed by <a href="https://github.com/mattp103/etcc">MECo</a>.</p>
            </div>
        </footer>
        <!-- footer area end-->
    <!-- jquery latest version -->
    <script src="{% static 'br/assets/js/vendor/jquery-2.2.4.min.js' %}"></script>
    <!-- bootstrap 4 js -->
    <script src="{% static 'br/assets/js/popper.min.js' %}"></script>
    <script src="{% static 'br/assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'br/assets/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'br/assets/js/metisMenu.min.js' %}"></script>
    <script src="{% static 'br/assets/js/jquery.slimscroll.min.js' %}"></script>
    <script src="{% static 'br/assets/js/jquery.slicknav.min.js' %}"></script>

    <!-- others plugins -->
    <script src="{% static 'br/assets/js/plugins.js' %}"></script>
    <script src="{% static 'br/assets/js/scripts.js' %}"></script>
</body>

</html>
