{% load static %}
<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="{% static 'br/assets/images/icon/favicon.ico' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'br/assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'br/assets/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'br/assets/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'br/assets/css/metisMenu.css' %}">
    <link rel="stylesheet" href="{% static 'br/assets/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'br/assets/css/slicknav.min.css' %}">
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
    <link rel="stylesheet" href="{% static 'br/assets/css/typography.css' %}">
    <link rel="stylesheet" href="{% static 'br/assets/css/default-css.css' %}">
    <link rel="stylesheet" href="{% static 'br/assets/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'br/assets/css/responsive.css' %}">
    <script src="{% static 'br/assets/js/vendor/modernizr-2.8.3.min.js' %}"></script>
    <style>.done{color: #0F0!important;}.notdone{color: #F00!important;}</style>
</head>

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- preloader area start -->
    <div id="preloader"><div class="loader"></div></div>
    <div class="page-container"><div class="sidebar-menu"><div class="sidebar-header"><div class="logo"><a href="{% url 'index' %}"><img src="{% static 'br/assets/images/media/logo.png' %}" alt="logo"></a></div></div>
            <div class="main-menu">
                <div class="menu-inner">
                    <nav>
                        <ul class="metismenu" id="menu">
                            <li>
                                <a href="{% url 'index' %}" aria-expanded="true"><i class="ti-dashboard"></i><span>Home</span></a>
                            </li>
                            <li>
                                <a href="/reading/0" aria-expanded="true"><i class="ti-book"></i><span>Readings</span></a>
                            </li>
                            <li>
                                <a href="/profile/{{ user.username }}" aria-expanded="true"><i class="ti-user"></i><span>Profile</span></a>
                            </li>
                            <li>
                                <a href="{% url 'settings' %}" aria-expanded="true"><i class="ti-settings"></i><span>Settings</span></a>
                            </li>
                            <li>
                                <a href="{% url 'friends' %}" aria-expanded="true"><i class="fa fa-user"></i><span>Friends</span></a>
                            </li>
                            <li>
                                <a href="{% url 'groups' %}" aria-expanded="true"><i class="fa fa-users"></i><span>Groups</span></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="main-content bg-white"><div class="header-area"><div class="row align-items-center">
                    <div class="col-md-6 col-sm-8 clearfix">
                        <div class="nav-btn pull-left"><span></span><span></span><span></span></div>
                        <div class="search-box pull-left"><form action="#"><input type="text" name="search" placeholder="Search" disabled required><i class="ti-search"></i></form></div></div>
                    <div class="col-md-6 col-sm-4 clearfix"><ul class="notification-area pull-right"><li id="full-view"><i class="ti-fullscreen"></i></li><li id="full-view-exit"><i class="ti-zoom-out"></i></li></ul></div>
                </div>
            </div>
            <div class="page-title-area">
                <div class="row align-items-center">
                    <div class="col-sm-6">
                        <div class="breadcrumbs-area clearfix">
                        {% block top %}
                        {% endblock %}
                        </div>
                    </div>
                    <div class="col-sm-6 clearfix">
                        <div class="user-profile pull-right">
                            <i class="ti ti-user user-thumb text-white pr-1"></i>
                            <h4 class="user-name dropdown-toggle" data-toggle="dropdown">{{ user.username }}<i class="fa fa-angle-down"></i></h4>
                            <div class="dropdown-menu">
                            <a class="dropdown-item" href="{% url 'settings' %}">Settings</a>
                                <a class="dropdown-item" href="/profile/{{ user.username }}">Profile</a>
                                <a class="dropdown-item" href="{% url 'logout' %}">Log Out</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- page title area end -->
            {% if messages %}
                {% for message in messages %}
                    {% if 'error' in message.tags %}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span class="fa fa-times"></span></button>
                        </div>
                    {% else %}
                        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span class="fa fa-times"></span></button>
                        </div>
                    {% endif %}

                {% endfor %}
            {% endif %}
            <!-- <div class="main-content-inner login-bg"> -->
            <div class="main-content-inner bg-white">
            {% block content %}

            {% endblock %}
            </div>
        </div>
        <!-- main content area end -->
        <!-- footer area start-->
        <footer>
            <div class="footer-area">
                <p>Developed by <a href="https://github.com/mattp103/etcc">MECo</a>.</p>
            </div>
        </footer>
        <!-- footer area end-->
    </div>
    <!-- page container area end -->
    <!-- jquery latest version -->
    <script src="{% static 'br/assets/js/vendor/jquery-2.2.4.min.js' %}"></script>
    <!-- bootstrap 4 js -->
    <script src="{% static 'br/assets/js/popper.min.js' %}"></script>
    <script src="{% static 'br/assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'br/assets/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'br/assets/js/metisMenu.min.js' %}"></script>
    <script src="{% static 'br/assets/js/jquery.slimscroll.min.js' %}"></script>
    <script src="{% static 'br/assets/js/jquery.slicknav.min.js' %}"></script>

    <!-- others plugins -->
    <script src="{% static 'br/assets/js/plugins.js' %}"></script>
    <script src="{% static 'br/assets/js/scripts.js' %}"></script>

</body>
</html>
